body {
  margin: 0px;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  color: #97c1a9;
  font-family:Oleo Script;

  font-size: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2{
color: #f84646;
font-size: 40px;
}

p {
    font-family: Roboto;
    font-size: 30px;
}

/**************** Class Selections ****************/
.first_div {
  background-color: #FFEEEE;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 100px;
  position: relative;
}

.second_div {
  background-color: #FFF6EA;

}

.third_div {
  background-color: #F7E9D7;
}

.startup_logo {
  position: absolute;
  right: 10%;
  top: 30px;
}

.bottom-container{
  background-color: #F7E9D7;
}

.advance{
  font-family: Oleo Script;
}
